h1{
    color: red;
    margin-left: 550px;
}

h2{
    color: blueviolet;
    margin-left: 420px;
}

a{
    margin-left: 625px;
    margin-bottom: 25px;
}

img{
    width: 350px;
    height: 250px;
    margin-left: 515px;
    
}